<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Esto viene siendo como los include en jsp -->
	<section th:fragment="interceptor" th:if="${tiempoTranscurrido !=null}">
		<div class="alert alert-successs">
			<span
				th:text="'tiempo transcurrido: ' +' en milisegundos ' +  ${tiempoTranscurrido}"></span>
		</div>
	</section>
</body>
</html>