<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Enviar parámetro del request HTTP GET</title>
</head>
<body>
<h1>Enviar parámetro del request HTTP GET</h1>
<ul>
<li> 
<a th:href="@{/params/string(texto='hola Andrés')}">/params/string?texto='hola Andrés'></a>
</li>
<li>
<a th:href="@{/params/string(texto='Que tal Jhon')}">/params/string?texto='Que tal Jhon'></a>
</li>
<li>
<a th:href="@{/params/mix-params(saludo='Buenos días pepito', num=7)}">@{/params/mix-params(saludo='Buenos días pepito', num=7)}</a>
</li>
<li>
<a th:href="@{/params/mix-params-request(saludo='Buenos días pepito', num=7)}">@{/params/mix-params(saludo='Buenos días pepito', num=7)}</a>
</li>
</ul>
</body>
</html>