<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Recibir parámetro del request HTTP GET</title>
</head>
<body>
<h1>Recibir parámetro del request HTTP GET</h1>
<div th:text="${resultado}"></div>
</body>
</html>