<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
<!-- ponemos la etiqueta que engloba nuestro archivo a incluir, con la ruta de nuestro archivo :: nombre del fragment -->
<section th:replace="componentes/tiempo :: interceptor"></section>
	<h1 th:text="${titulo}" style="text-align: center"></h1>
	
	<div class="container">
		<form th:action="@{/form}" method="post" th:object="${usuario}">

			<div class="form-check">
				<label class="form-check-label" for="habilitar">Habilitar</label> <input
					type="checkbox" id="habilitar" th:field="*{habilitar}"
					class="form-check-input">

			</div>


			<div class="form-check">
				<label>Genero</label>
				<div th:each="gen : ${generos}">
					<input  class="form-check-input" type="radio" th:field="*{genero}" th:value="${gen}">
					<label class="form-check-label" th:for="${#ids.prev('genero')}" th:text="${gen}"></label>
				</div>

				<div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="alert alert-danger"></div>
			</div>

			<div class="form-group">
				<label for="pais">Pais</label>
				<div>
					<select class="form-select" id="pais" th:field="*{pais}">
						<!-- Esto para tener un valor de option por defecto -->
						<option value="">Seleccionar</option>
						<!-- recorrer una lista, mostar el nombre por ejemplo y guardar el valor de la id -->
						<option th:each="pais : ${listaPaises}" th:text="${pais.nombre}"
							th:value="${pais.id}"></option>
					</select>
				</div>
				<!-- Esto sirve para si hay un error en ese campo mostrarlo(anotaciuones) -->
				<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label>roles</label>
				<div th:each="role:${listaRoles}" class="list-group">
					<!-- Metodo .entrySet() en un mapa para recorrerlo -->
					<input type="checkbox" th:field="*{roles}" th:value="${role.id}"
						th:checked="${#lists.contains(usuario.roles,role)}" class="form-check-input me-1">

					<!-- este for es simplemente para dandole en el nombre se active el check -->
					<label th:for="${#ids.prev('roles')}" th:text="${role.nombre}" class="form-label col-sm-1"></label>
				</div>
				<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="alert alert-danger"></div>
			</div>

			<div class="form-group">
				<label for="id">id</label>
				<div>
					<input type="text" id="id" th:field="*{id}" class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="alert alert-danger"></div>
			</div>




			<div class="form-group">
				<label for="nombre">nombre</label>
				<div>
					<!-- th:field es el nombre del campo de la clase que vamos a rellenar -->
					<input type="text" id="nombre" th:field="*{nombre}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger"></div>
			</div>

			<div class="form-group">
				<label for="apellido">apellido</label>
				<div>
					<input type="text" id="apellido" th:field="*{apellido}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('apellido')}"
					th:errors="*{apellido}" class="alert alert-danger"></div>
			</div>



			<div class="form-group">
				<label for="username">username</label>
				<div>
					<input type="text" id="username" th:field="*{username}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}" class="alert alert-danger"></div>
			</div>

			<div class="form-group">
				<label for="password">password</label>
				<div>
					<input type="password" name="password" id="password"
						th:field="*{password}" class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}" class="alert alert-danger"></div>
			</div>

			<div class="form-group">
				<label for="email">email</label>
				<div>
					<input type="text" id="email" th:field="*{email}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></div>
			</div>

			<div class="form-group">
				<label for="cuenta">Cuenta</label>
				<div>
					<input type="number" id="cuenta" th:field="*{cuenta}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}" class="alert alert-danger"></div>
			</div>

			<div class="form-group">
				<label for="fechaNacimiento">fecha Nacimiento</label>
				<div>
					<input type="date" id="fechaNacimiento"
						th:field="*{fechaNacimiento}" placeholder="yyyy/MM/dd"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('fechaNacimiento')}"
					th:errors="*{fechaNacimiento}" class="alert alert-danger"></div>
			</div>

			<div class="form-group">

				<div>
					<input type="submit" value="enviar" class="btn btn-primary">
				</div>
			</div>

			<input type="hidden" th:field="*{valorSecreto}">
		</form>
	</div>
</body>
</html>