<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>

<!-- ponemos la etiqueta que engloba nuestro archivo a incluir, con la ruta de nuestro archivo :: nombre del fragment -->
<section th:replace="componentes/tiempo :: interceptor"></section>
	<h1 th:text="${titulo}" style="text-align: center"></h1>
	<div class="container">
	<a th:href="@{/form}" class="btn btn-primary">volver</a>
	<ul class="list-group">
		<li class="list-group-item" th:text="${usuario.nombre}"></li>
		<li class="list-group-item"  th:text="${usuario.apellido}"></li>
		<li class="list-group-item"  th:text="${usuario.username}"></li>
		<li class="list-group-item"  th:text="${usuario.password}"></li>
		<li class="list-group-item"  th:text="${usuario.email}"></li>
		<li class="list-group-item"  th:text="${usuario.id}"></li>
		<li class="list-group-item"  th:text="${usuario.cuenta}"></li>
		<li class="list-group-item"  th:text="${usuario.pais.id}"></li>
		<li class="list-group-item"  th:text="${usuario.pais.codigo}"></li>
		<li class="list-group-item"  th:text="${usuario.pais.nombre}"></li>
		<!-- Dar formato a una vista con thymeleaf -->
		<li class="list-group-item"  th:text="${#dates.format(usuario.fechaNacimiento,'dd/MM/yyyy')}"></li>
		<li class="list-group-item"  th:text="${usuario.habilitar}"></li>
		<li class="list-group-item"  th:text="${usuario.genero}"></li>
		<li class="list-group-item"  th:text="${usuario.valorSecreto}"></li>
	</ul>
	<p>Roles</p>
	<ul class="list-group">
		<li class="list-group-item"  th:each="role: ${usuario.roles}" th:text="${role.nombre + ' ' + role.id}"></li>
	</ul>
	</div>
</body>
</html>