<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
	<a class="btn btn-primary btn-xs" th:href="@{'/ver/' + ${factura.cliente.id}}" > &laquo;Volver</a>
	</div>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h3 class="card-tittle" th:text="${titulo}"></h3>

				<form th:action="@{/factura/form/}" th:object="${factura}"
					method="post">
					<div class="form-group row">
						<label class="col-sm-2 col col-form-label" th:text="'Cliente'"></label>
						<div class="col-sm-6">
							<input class="form-control"
								th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"
								disabled="disabled" />
						</div>
					</div>
					<div class="form-group row" style="margin-top: 10px">

						<label class="col-sm-2 col col-form-label" th:text="'Descripción'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{descripcion}" class="form-control" th:errorclass="'form-control is-invalid'"/>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
						</div>
					</div>
					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col col-form-label" th:text="'Observación'"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observacion}" class="form-control"></textarea>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="buscar_producto" class="col-sm-2 col-form-label"
							th:text="'Buscar producto'"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_producto" id="buscar_producto"
								class="form-control" />
						</div>
					</div>
					
					<table th:replace="factura/plantilla-items :: itemsFactura"></table>

					<table id="cargarItemProductos"
						class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th>Total</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<h5>Total <span class="badge badge-primary" id="gran_total" style="color: black">0</span></h5>
					 
					<div class="form-group row" style="margin-top: 10px">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
	
	<!-- EL SCRIPT TIENE QUE IR ARRIBA, NO SE PORQUEEEEEEEEE -->
	<script th:replace="factura/js/autocomplete-productos :: javascript"></script>
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>