<!DOCTYPE html>
<html xmlns:th="http:://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li th:text="${usuario.id}"></li>
		<li th:text="${usuario.nombre}"></li>
		<li th:text="${usuario.apellido}"></li>

	</ul>
</body>
</html>