<!DOCTYPE html>
<html xmlns:th="http//:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lo sentimos, Página no encontrada 404!</title>
</head>
<body>
<h3>Lo sentimos, Página no encontrada 404!</h3>
<div th:text="${error}"></div><!-- error,message.. son objetos ya establecidas por spring para mostrar errores -->
<div th:text="${status}"></div>
<div th:text="${timestamp}"></div>
<hr>
<div th:text="${path}"></div> <!-- todo el texto del error -->
</body>
</html>