<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h1 th:text="${titulo}"></h1>

				<div th:object="${cliente}">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="error:${#fields.errors('*')}" th:text="${error}"></li>
					</ul>
				</div>
				<form th:action="@{/form}" th:object="${cliente}" method="post"
					enctype="multipart/form-data">
					<!-- necesario para subir imagenes(upload de archivos) -->


					<!-- <input type="hidden" th:field="*{id}" /> con SessionAtributes no es necesario -->

					<div class="form-group row">
						<label class="col-sm-1 col-form-label">Nombre</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{nombre}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
							<!-- th:errorclass, da estilo al error -->
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-1 col-form-label">Apellido</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{apellido}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-1 col-form-label">Email</label>
						<div class="col-sm-5">
							<input type="email" th:field="*{email}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-1 col-form-label">Fecha</label>
						<div class="col-sm-5">
							<input type="date" class="form-control" th:field="*{createAt}"
								th:errorclass="'form-control alert-danger'"/> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="file" class="col-sm-1 col-form-label">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control">
						</div>
					</div>

					<input type="submit" value="Crear cliente" class="btn btn-primary"
						style="margin-top: 10px" th:if="${cliente.id == null}" />

					<div>
						<input type="submit" value="Guardar cambios"
							class="btn btn-primary" style="margin-top: 10px"
							th:if="${cliente.id != null}" />
					</div>


				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>