<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text = "${titulo}"></title>
</head>
<body>
<h1>Recibir parámetro de la ruta (@PathVariable)</h1>
<div th:text="${resultado}"></div>
</body>
</html>