<!DOCTYPE html>
<html xmlns:th="http//:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ha ocurrido un error Ooops!</title>
</head>
<body>
<h3>Ha ocurrido un error Ooops!</h3>
<div th:text="${error}"></div><!-- error,message.. son variables ya establecidas por spring para mostrar errores -->
<div th:text="${message}"></div>
<div th:text="${status}"></div>
<div th:text="${timestamp}"></div>
<hr>
<div th:text="${trace}"></div> <!-- todo el texto del error -->
</body>
</html>