<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>


	<div th:if="${usuarios.size()==0}">no hay usuarios en registrados
		en el sistema</div>
	<table th:if="${usuarios.size()>0}">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario : ${usuarios}">
				<td th:text="${usuario.name}"></td>
				<td th:text="${usuario.surname}"></td>
				<td th:text="${usuario.email}"></td>
			</tr>
		</tbody>

	</table>
</body>
</html>